<%= render "shared/admin_topbar" %>

<div class="sidebarOpen"><button class="sidebarButton"><< Open</button></div>
<div class="sidebar">
	<button class="sidebarClose sidebarButton">Close >></button>
  	<%= link_to 'Back', jobs_path, :class => "sidebarButton" %> | <%= link_to 'Edit', edit_job_path(@job), :class => "sidebarButton" %>
</div>

<div class="content">
	<p>
	  <strong>Title:</strong>
	  <%= @job.title %>
	</p>
	 
	<p>
	  <strong>Status:</strong>
	  <%= @job.status %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @job.description %>
	</p>

	<p>
		<strong>User:</strong>
		<% if !@job.users.empty? %>
			<%= @job.users.first.name %>
		<% end %>
	</p>
</div>