<%= render "shared/admin_topbar" %>

<div class="sidebarOpen"><button><< Open</button></div>
<div class="sidebar"> 
  <button class="sidebarClose">Close >></button>
  <%= link_to 'New User', new_user_path %>
</div>

<div class="content">
  <h1>Listing users</h1>

  <div class="tool_table">
    <table>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th></th>
      </tr>
     
      <% @users.each do |user| %>
        <tr>
          <td class="center"><%= user.id %></td>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td><%= user.phone %></td>
          <td><%= link_to 'Show', user %>
            <%= link_to 'Edit', edit_user_path(user) %>
            <%= link_to 'Destroy', user_path(user), method: :delete, data: {confirm: 'Are you sure?'} %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>