<div class="content">
	<p>
	  <strong>Title:</strong>
	  <%= @supply.title %>
	</p>
	 
	<p>
	  <strong>Quantity:</strong>
	  <%= @supply.quantity %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @supply.description %>
	</p>

	<%= link_to 'Back', supplies_path %> | <%= link_to 'Edit', edit_supply_path(@supply) %>
</div>